body {
  background: url("assets/1.jfif") center/cover fixed;
  color: #fff;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.75);
  z-index: -1;
}

.profile-photo {
  width: 280px;
  object-fit: cover;
  border-radius: 30px;
 
  transition: transform 0.4s ease;
}

.profile-photo:hover {
  transform: scale(1.05) rotate(-1deg);
}

.photo-wrapper {
  position: relative;
}

.photo-wrapper::before {
  content: "";
  position: absolute;
  inset: -20px;
  border-radius: 40px;
  opacity: 0.3;
  z-index: -1;
}


.section {
  padding: 80px 0;
}

.section.dark {
  background: rgba(0,0,0,.6);
}

.skill-card, .project-card {
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(0,229,255,.3);
  color: white;
}
