body {
  background: #f5f6fa;
}
.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #0d6efd;
}
.section-title {
  border-left: 4px solid #0d6efd;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
.flexik{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}